<!DOCTYPE html>

<script type="text/javascript" src="http://blog-imgs-60.fc2.com/c/u/s/customtemplate/130719tinkerbell-min.js"></script>

<div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all">日本語</label>

  <input id="programming" type="radio" name="tab_item">
  <label class="tab_item" for="programming">ENGLISH</label>
  
    <div class="tab_content_description">

  <html>
  <head>
  <meta charset="UTF-8" />
  <title></title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">  
  </head>
  <body>
  <header class="header">
    <p class="site-title-sub"> ふふふふふ </p>
    <h1 class="site-title"> ABCDEFG</h1>
    <p class="site-description">Hollywoostars and Celebrities, What do they know?<br>
    Do they know things? LET'S FIND OUT!!!!</p>



    <div class="buttons">
      <a class="button" href="#about">もうちょっと詳しく見る</a>
      <a class="button button-orange" href="#contact">メッセージを送る</a>
    </div>
  </header>
  <section class="about" id="about">
    <img class="work-image" src="abourlogo.png" alt="" width="auto" height="200">
      <img class="work-image2" src="logo.png" alt="" width="auto" height="200">
    <h2 class="heading">PROFILE</h2>
    <p class="about-text">
      こんにちは！中村ゆきと申します。5歳の時、ピアノを習い始め、10歳の時、フルートを習い始めました。<br>
      趣味は音楽の他にも旅行や映画鑑賞、日本とアメリカのアニメも好きです。<br>
      留学経験もあり、英語を話すことができます。長年夢みていたワーキングホリデーへ去年1年間行ってきました。<br>
      大学時代に1年ほど留学したカナダへ、学生としてではなく社会人として行った経験は私の人生において多大なる影響を与えてくれました。<br>
      カナダではチャイルドケアやベイカー、コーヒマシンのセールス、バリスタなど様々な経験を通じてたくさんの人々と出会いました。<br>
      毎日、1つ1つの出会いを大切に、人生を楽しむことをモットーにしています！<br>
      よろしくお願い致します。<br>

    </p>
  </section>
  <section class="works">
      <h2 class="heading">MY WORKS</h2>
      <div class="works-wrapper">
        <div class="work-box">
          <img class="work-image" src="3.jpg" alt="制作事例" width="auto" height="200">
          <div class="work-description">
                  【受賞履歴】<br>
                  日本吹奏楽指導者協会関西支部主催第11回菅打楽器ソロコンテスト・優秀賞
                  日本吹奏楽指導者協会関西支部主催第10回菅打楽器ソロコンテスト和歌山県大会・優勝
                  日本吹奏楽指導者協会関西支部主催第11回菅打楽器ソロコンテスト和歌山県大会・優勝
                  第12回関西中学校高等学校菅打楽器ソロコンテスト・優秀賞
                  日本吹奏楽指導者協会関西支部主催第12回菅打楽器ソロコンテスト和歌山県大会・優勝
                  第20回日本クラシック音楽コンクール地区本選会・好演賞
                  第42回和歌山県新人演奏会出演<br>
          </div>
        </div>
    
        <div class="work-box">
          <img class="work-image" src="4.jpg" alt="制作事例" width="auto" height="200">
          <div class="work-description">
                    <br><br>
            <%# <a href="#" class="button button-ghost">READ MORE</a> %>
          </div>
        </div>
    
        <div class="work-box">
          <img class="work-image" src="7.jpeg" alt="制作事例" width="auto" height="200">
          <div class="work-description"> 
            【資格】<br>
            高等学校教諭一種免許（英語）<br>
            中学校教諭一種免許（英語）
            <%# <a href="#" class="button button-ghost">READ MORE</a> %>
          </div>
        </div>
      </div>

  </section>

  <section class="contact" id="contact">
      <h2 class="headcontact">メッセージを送る</h2>
      

  <form method="POST"
   action="mailto:gin_yuk1010@yahoo.co.jp" class="contact-form">

    <input type="text" name="name" placeholder="NAME">
    <textarea name="message" placeholder="MESSAGE"></textarea>
    <input type="submit" value="SEND" color=#999>
  </form>
  </section>
</body>
</html>
      
    </div>
  </div>
      
  <div class="tab_content" id="programming_content">
    <div class="tab_content_description">
      <p class="c-txtsp">プログラミングの内容がここに入ります</p>
      わ〜〜〜〜〜〜〜〜〜い
    </div>
  </div>
</div>



