// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
  
}


body {
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
}

.header {
  height: 100vh;
	background-color: #8be4f0;
	background-image:
	 linear-gradient(-90deg, #80deea 50%, transparent 50%, transparent);
	background-size: 14px 14px;  
}

.about {
  height: 100vh;
  padding: 80px 30px;
  background-color: #fff;
  color: rgb(109, 105, 105);
}

.about-text {
  width: 900px;
  margin: 30px auto;
  line-height: 2.5;
  text-align: left;
}

.heading {
  display: inline-block;
  margin: 30px 0 15px;
  padding-top: 0px;
  letter-spacing: 2px;
  font-size: 20px;
  border-bottom: double 4px #999;
}

.works {
  height: 100vh;
  padding: 80px 0 10px;

  background-color: #f7c8fa;
	background-image:
	 linear-gradient(-90deg, #f0b2f5 50%, transparent 50%, transparent);
	background-size: 14px 14px;
}

.works-wrapper {
  display: flex;
  margin: 60px auto 0;
  width: 970px;
}

.work-box {
  background-color: rgba(100, 100, 100, 0.3);
  border: 1px solid #333;
  float: left;
}

.work-image {
  display: block;
  float:left;
}

.work-image2 {
  display: block;
  // float:left;
}


.work-description {
  margin: 20px 0;
}

.work-description .button {
  width: 60%;
  margin-top: 20px;
  padding: 3px;
}

// .button-ghost {
//   border: 2px solid #fff;
//   background-color: rgba(255, 255, 255, 0.15);
// }

.headcontact{
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 20px;
  border-bottom: double 4px #999;
  color: #999;

}
.contact {
  height: 100vh;
  padding: 80px 0 150px;
  background-color: rgb(215, 215, 215);
}
.contact-form {
  width: 50%;
  margin: 50px auto 0;
}
.contact-form input[type=text], .contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 0;
  color: #333;
}

.contact-form textarea {
  height: 150px;
}

.contact-form input[type=submit] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.contact-form input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 20px;
  
}

.site-title {
  margin: 50px;
  font-size: 20px;
}

.site-description {
  margin-bottom: 50px;
  color: #d54d7b;
  font-family: fantasy;
  font-size: 40px;
  line-height: 160px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 40px;
  text-align:center;
  text-shadow: 0 1px 1px #fff;
}


























.button {
  border: 1px solid white;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  text-decoration-line: none;
  border-radius: 5px;
  color: black;


}


.button-orange {
  color: black;
  text-decoration-line: none;
}

.button:hover{
  color: #fff;
  background-color: navy;
}

.button:before{
content: "";
position: absolute;
left: 0;
width: 100%;
height: 0%;
background: #3498db;
z-index: -1;
trabsutuib: 0.8s;
}



////////////以下タブ////////////////

.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #7cecf6;
  background-color: #f06565;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}